{% extends 'base.html' %}

{% block content %}
<h1>Welcome to Eshop</h1>
<div class="row">
    {% for product in products %}
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">Price: ₹{{ product.price }}</p>
                <form method="post" action="/cart">
                    {% csrf_token %}
                    <input type="hidden" name="product" value="{{ product.id }}">
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
